## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Rikitea,PF,2021-12-15 18:44:12,-23.1203,-134.9692,77.07,74,100,8.72,light rain
1,1,Albany,US,2021-12-15 18:44:07,42.6001,-73.9662,46.62,50,100,1.99,overcast clouds
2,2,Riyadh,SA,2021-12-15 18:46:58,24.6877,46.7219,60.94,31,100,9.24,overcast clouds
3,3,Souillac,MU,2021-12-15 18:43:48,-20.5167,57.5167,76.35,88,40,4.61,scattered clouds
4,4,Hobart,AU,2021-12-15 18:43:07,-42.8794,147.3294,55.26,77,90,1.99,overcast clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Rikitea,PF,2021-12-15 18:44:12,-23.1203,-134.9692,77.07,74,100,8.72,light rain
3,3,Souillac,MU,2021-12-15 18:43:48,-20.5167,57.5167,76.35,88,40,4.61,scattered clouds
6,6,Primero De Enero,CU,2021-12-15 18:49:45,21.9469,-78.4283,84.06,72,30,15.26,scattered clouds
19,19,Faanui,PF,2021-12-15 18:46:09,-16.4833,-151.7500,81.03,76,16,14.16,few clouds
20,20,Kieta,PG,2021-12-15 18:44:53,-6.2167,155.6333,80.35,86,100,9.51,light rain
21,21,Telimele,GN,2021-12-15 18:49:52,10.9167,-13.3333,79.88,40,100,3.02,overcast clouds
26,26,The Valley,AI,2021-12-15 18:49:54,18.2170,-63.0578,84.06,74,20,16.11,few clouds
28,28,Sao Joao Da Barra,BR,2021-12-15 18:49:54,-21.6403,-41.0511,84.29,87,95,19.93,overcast clouds
35,35,Tallahassee,US,2021-12-15 18:46:20,30.4383,-84.2807,77.68,63,20,15.66,few clouds
36,36,Okitipupa,NG,2021-12-15 18:49:57,6.5047,4.7839,80.67,80,88,3.47,overcast clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                180
City                   180
Country                180
Date                   180
Lat                    180
Lng                    180
Max Temp               180
Humidity               180
Cloudiness             180
Wind Speed             180
Current Description    180
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna(axis="index", how="any")
print(len(clean_df))
clean_df.head()

180

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Rikitea,PF,2021-12-15 18:44:12,-23.1203,-134.9692,77.07,74,100,8.72,light rain
3,3,Souillac,MU,2021-12-15 18:43:48,-20.5167,57.5167,76.35,88,40,4.61,scattered clouds
6,6,Primero De Enero,CU,2021-12-15 18:49:45,21.9469,-78.4283,84.06,72,30,15.26,scattered clouds
19,19,Faanui,PF,2021-12-15 18:46:09,-16.4833,-151.7500,81.03,76,16,14.16,few clouds
20,20,Kieta,PG,2021-12-15 18:44:53,-6.2167,155.6333,80.35,86,100,9.51,light rain

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Rikitea,PF,77.07,light rain,-23.1203,-134.9692,
3,Souillac,MU,76.35,scattered clouds,-20.5167,57.5167,
6,Primero De Enero,CU,84.06,scattered clouds,21.9469,-78.4283,
19,Faanui,PF,81.03,few clouds,-16.4833,-151.7500,
20,Kieta,PG,80.35,light rain,-6.2167,155.6333,
21,Telimele,GN,79.88,overcast clouds,10.9167,-13.3333,
26,The Valley,AI,84.06,few clouds,18.2170,-63.0578,
28,Sao Joao Da Barra,BR,84.29,overcast clouds,-21.6403,-41.0511,
35,Tallahassee,US,77.68,few clouds,30.4383,-84.2807,
36,Okitipupa,NG,80.67,overcast clouds,6.5047,4.7839,

In [10]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found...skipping the city.")

Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.

In [11]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna(axis="index", how="any")
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Rikitea,PF,77.07,light rain,-23.1203,-134.9692,People ThankYou
3,Souillac,MU,76.35,scattered clouds,-20.5167,57.5167,Shanti Maurice Resort & Spa
6,Primero De Enero,CU,84.06,scattered clouds,21.9469,-78.4283,Motel Dos Palmas (Maria Machete)
19,Faanui,PF,81.03,few clouds,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
20,Kieta,PG,80.35,light rain,-6.2167,155.6333,Uruna Bay Retreat
21,Telimele,GN,79.88,overcast clouds,10.9167,-13.3333,
26,The Valley,AI,84.06,few clouds,18.2170,-63.0578,CeBlue Villas & Beach Resort
28,Sao Joao Da Barra,BR,84.29,overcast clouds,-21.6403,-41.0511,Pousada Porto De Canoas
35,Tallahassee,US,77.68,few clouds,30.4383,-84.2807,Four Points by Sheraton Tallahassee Downtown
36,Okitipupa,NG,80.67,overcast clouds,6.5047,4.7839,Coastal Hotel & Suites

In [13]:
# 8a. Create the output File (CSV)
output_data_file = 'WeatherPy_vacation.csv'
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [14]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [15]:
# 11a. Add a marker layer for each city to the map. 
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))